body {
    background-color: aqua;
}

div {
    margin: 0;
    justify-items: auto;
    max-height: 20px;
}

.cell {
    border: solid black 0.5px;
    background-color: aliceblue;
    min-width: 20px;
    min-height: 20px;
    display:inline-flex;
    
}

button {
    margin: 20px;
}